* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  background-color: beige;
  overflow: hidden;
}

main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10% auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

header input {
  width: 79%;
  height: 5rem;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(158, 158, 112);
  color: rgb(46, 46, 41);
  font-size: 3rem;
  font-family: "Audiowide", sans-serif;
  box-shadow: 5px 5px rgb(55, 55, 37);
  transition: color 0.3s, background-color 0.3s, scale 0.2s;
}

header input::placeholder {
  color: rgb(218, 218, 196);
}

header input:focus {
  outline: none;
}

header input:active {
  scale: 0.98;
}

header button {
  width: 19.5%;
  height: 5rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(158, 158, 112);
  font-size: 3rem;
  color: rgb(46, 46, 41);
  font-family: "Audiowide", sans-serif;
  box-shadow: 5px 5px rgb(55, 55, 37);
  transition: color 0.3s, background-color 0.3s, scale 0.2s;
}

header button:hover {
  background-color: rgb(149, 149, 108);
  cursor: pointer;
}

header button:active {
  scale: 0.98;
}

.hidden {
  visibility: hidden;
  height: 0;
}

#NoTodos {
  width: 100%;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: rgb(205, 205, 163);
}

#NoTodosP1 {
  font-size: 3rem;
  color: inherit;
}

#NoTodosP2 {
  font-size: 2rem;
  color: inherit;
}


ul {
  width: 100%;
  list-style: none;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(193, 193, 156);
  box-shadow: 3px 3px rgb(55, 55, 37);
  font-size: large;
  font-family: "Audiowide", sans-serif;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.animate {
  position: relative;
  animation: deleteAnimation 1s;
}

li div {
  width: 95%;
  display: flex;
  align-items: center;
}

li button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

li div button i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

li button i:hover {
  cursor: pointer;
}

.completed {
  animation: strikethroughAnimation 0.75s cubic-bezier(0.84, 0, 0.08, 1) forwards;
}

li div div {
  display: flex;
  width: 100%;
  align-items: center;
}

li div div p {
  display: block;
  position: absolute;
  padding: 0 0 0 10px;
}

line {
  display: block;
  position: relative;
  height: 0;
  border: 1px solid black;
  visibility: hidden;
  width: 0%;
}

@media only screen and (min-width: 1000px) {
  .delete {
    transition: color 0.1s, scale 0.1s;
  }
  
  .delete:active {
    scale: 0.8;
    transition: scale 0.3s;
  }
  
  .edit {
    transition: color 0.2s, scale 0.1s;
  }
  
  .edit:active {
    scale: 0.8;
    transition: scale 0.3s;
  }
  
  .delete:hover {
    color: red;
    scale: 1.2;
  }

  .edit:hover {
    scale: 1.2;
  }
}

@media only screen and (max-width: 1000px) {
  li div {
    width: 90%;
  }
  header input {
    width: 100%;
    font-size: 2rem;
  }

  header button {
    margin-top: 1rem; 
    width: 100%;
    height: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) { 
  li div {
    width: 85%;
  }

  #NoTodosP1 {
    font-size: 2rem;
  }
  
  #NoTodosP2 {
    font-size: 1rem;
  }
}

@keyframes deleteAnimation {
  from {
    top: 0vh;
    transform: rotate(0deg);
  }
  to {
    top: 120vh;
    transform: rotate(30deg);
  }
}

@keyframes strikethroughAnimation {
  from {
    visibility: hidden;
    width: 0%;
  }
  to {
    visibility: visible;
    width: 100%;
  }
}